{{define "home"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>reader.readfollow.com</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    </head>
    <body>
		<div class="page">


        <!-- 使用 -->
        <div style="    padding: 40px;
        background-color: #fff;
         margin-top: 0; 
        position: relative;
        overflow: hidden;">
            <h1 class="page__title">
                无广告阅读工具
            </h1>
            <p style="    margin-top: 5px;
            color: #888;
            text-align: left;
            font-size: 14px;">
                抓取目录链接，对目标正文进行转码阅读，清除烦恼广告解决方案！
            </p>
        </div>
   
        

    <div class="page__bd">
        <div class="weui-search-bar weui-search-bar_focusing" id="searchBar">
            <form class="weui-search-bar__form" action="/list">
                <div class="weui-search-bar__box">
                    <input type="search" name="url" class="weui-search-bar__input" id="searchInput" placeholder="请粘贴文章目录链接地址，并提交" required autocomplete="off"/>
                </div>
            </form>

        </div>
    </div>

</div>

		
		<div class="page__bd page__bd_spacing">
			<br>
			<div class="weui-footer">
				<p class="weui-footer__text">无广告文章正文阅读工具</p>
				<p class="weui-footer__text">个人作品，仅供测试使用</p>
				<p class="weui-footer__text">本工具仅为文本阅读工具，请勿将本工具作代理使用</p>
				<p class="weui-footer__text">使用本工具所展现内容，版权归原网站所有</p>
				<p class="weui-footer__text"></p>
			</div>
			<br>
		</div>
    </body>
</html>
{{end}}